# 8. pandas 핵심 (분석 최소 세트)

**학습 목표**: pandas로 데이터를 로드하고 기본 분석을 수행합니다.

## 8.1 pandas 기초

### 8.1.1 DataFrame 생성

In [2]:
import pandas as pd

# 딕셔너리에서 생성
data = {
    "이름": ["홍길동", "김철수", "이영희", "박민수"],
    "나이": [25, 30, 28, 35],
    "도시": ["서울", "부산", "서울", "대구"]
}

df = pd.DataFrame(data)
print(df)
print(type(df))

    이름  나이  도시
0  홍길동  25  서울
1  김철수  30  부산
2  이영희  28  서울
3  박민수  35  대구
<class 'pandas.core.frame.DataFrame'>

In [3]:
# 리스트에서 생성
rows = [
    ["홍길동", 25, "서울"],
    ["김철수", 30, "부산"],
    ["이영희", 28, "서울"]
]
df2 = pd.DataFrame(rows, columns=["이름", "나이", "도시"])
print(df2)

    이름  나이  도시
0  홍길동  25  서울
1  김철수  30  부산
2  이영희  28  서울

### 8.1.2 CSV 파일 읽기

In [4]:
# CSV 파일 읽기
df = pd.read_csv("data/survey_responses.csv")
print(f"shape: {df.shape}")  # (행, 열)
df.head()

shape: (50, 5)

,id,category,response_text,satisfaction_score,timestamp
0,1,제품,배송이 빠르고 포장이 꼼꼼했습니다. 매우 만족합니다!,5,2024-01-15 09:30:00
1,2,서비스,고객센터 응대가 친절했어요. 문의 해결이 빨랐습니다.,5,2024-01-15 10:15:00
2,3,제품,품질이 기대 이하였습니다. 사진과 달라요.,2,2024-01-15 11:00:00
3,4,배송,배송 지연이 있었습니다. 예상보다 3일 늦게 도착.,2,2024-01-15 11:45:00
4,5,서비스,교환 절차가 복잡했습니다. 개선이 필요해요.,3,2024-01-15 13:00:00

In [5]:
# 처음/마지막 N개 행
print("=== 처음 3개 ===")
print(df.head(3))

print("\n=== 마지막 3개 ===")
print(df.tail(3))

=== 처음 3개 ===
   id category                  response_text  satisfaction_score  \
0   1       제품  배송이 빠르고 포장이 꼼꼼했습니다. 매우 만족합니다!                   5
1   2      서비스  고객센터 응대가 친절했어요. 문의 해결이 빨랐습니다.                   5
2   3       제품        품질이 기대 이하였습니다. 사진과 달라요.                   2

             timestamp
0  2024-01-15 09:30:00
1  2024-01-15 10:15:00
2  2024-01-15 11:00:00

=== 마지막 3개 ===
    id category             response_text  satisfaction_score  \
47  48       배송         경비실에 맡겨주셔서 편했습니다.                   4
48  49      서비스  쿠폰 사용이 복잡했어요. 중복 적용 안 됨.                   2
49  50       제품       가격 인상이 있었네요. 아쉽습니다.                   3

              timestamp
47  2024-01-19 13:00:00
48  2024-01-19 13:30:00
49  2024-01-19 14:00:00

### 8.1.3 기본 정보 확인

In [6]:
# 기본 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  50 non-null     int64
 1   category            50 non-null     object
 2   response_text       50 non-null     object
 3   satisfaction_score  50 non-null     int64
 4   timestamp           50 non-null     object
dtypes: int64(2), object(3)
memory usage: 2.1+ KB

In [7]:
# 통계 요약
df.describe()

             id  satisfaction_score
count  50.00000           50.000000
mean   25.50000            3.780000
std    14.57738            1.055404
min     1.00000            2.000000
25%    13.25000            3.000000
50%    25.50000            4.000000
75%    37.75000            5.000000
max    50.00000            5.000000

In [8]:
# 컬럼 목록
print(df.columns.tolist())

['id', 'category', 'response_text', 'satisfaction_score', 'timestamp']

In [9]:
# 데이터 타입
print(df.dtypes)

id                     int64
category              object
response_text         object
satisfaction_score     int64
timestamp             object
dtype: object

---
## 8.2 데이터 선택과 필터링

### 8.2.1 컬럼 선택

In [10]:
# 단일 컬럼 (Series)
print(df["category"])
print(type(df["category"]))

0      제품
1     서비스
2      제품
3      배송
4     서비스
5      제품
6      제품
7      배송
8     서비스
9      제품
10     배송
11    서비스
12     제품
13     제품
14     배송
15    서비스
16     제품
17     제품
18     배송
19    서비스
20     제품
21     제품
22     배송
23    서비스
24     제품
25     배송
26    서비스
27     제품
28     제품
29     배송
30    서비스
31     제품
32     제품
33     배송
34    서비스
35     제품
36     제품
37     배송
38    서비스
39     제품
40     배송
41    서비스
42     제품
43     제품
44     배송
45    서비스
46     제품
47     배송
48    서비스
49     제품
Name: category, dtype: object
<class 'pandas.core.series.Series'>

In [11]:
# 여러 컬럼 (DataFrame)
df[["id", "category", "satisfaction_score"]]

    id category  satisfaction_score
0    1       제품                   5
1    2      서비스                   5
2    3       제품                   2
3    4       배송                   2
4    5      서비스                   3
5    6       제품                   4
6    7       제품                   5
7    8       배송                   5
8    9      서비스                   4
9   10       제품                   3
10  11       배송                   5
11  12      서비스                   2
12  13       제품                   5
13  14       제품                   3
14  15       배송                   2
15  16      서비스                   2
16  17       제품                   5
17  18       제품                   4
18  19       배송                   5
19  20      서비스                   4
20  21       제품                   3
21  22       제품                   4
22  23       배송                   4
23  24      서비스                   5
24  25       제품                   5
25  26       배송                   5
26  27      서비스                   2
27  28       제품                   3
28  29       제품                   4
29  30       배송                   3
30  31      서비스                   5
31  32       제품                   4
32  33       제품                   5
33  34       배송                   4
34  35      서비스                   4
35  36       제품                   2
36  37       제품                   4
37  38       배송                   3
38  39      서비스                   4
39  40       제품                   3
40  41       배송                   3
41  42      서비스                   4
42  43       제품                   5
43  44       제품                   5
44  45       배송                   4
45  46      서비스                   4
46  47       제품                   4
47  48       배송                   4
48  49      서비스                   2
49  50       제품                   3

### 8.2.2 행 선택

In [12]:
# 인덱스로 선택 (iloc: 정수 위치)
print(df.iloc[0])     # 첫 번째 행
print()
print(df.iloc[0:3])   # 0~2번째 행

id                                                1
category                                         제품
response_text         배송이 빠르고 포장이 꼼꼼했습니다. 매우 만족합니다!
satisfaction_score                                5
timestamp                       2024-01-15 09:30:00
Name: 0, dtype: object

   id category                  response_text  satisfaction_score  \
0   1       제품  배송이 빠르고 포장이 꼼꼼했습니다. 매우 만족합니다!                   5
1   2      서비스  고객센터 응대가 친절했어요. 문의 해결이 빨랐습니다.                   5
2   3       제품        품질이 기대 이하였습니다. 사진과 달라요.                   2

             timestamp
0  2024-01-15 09:30:00
1  2024-01-15 10:15:00
2  2024-01-15 11:00:00

In [13]:
# 라벨로 선택 (loc)
print(df.loc[0])      # 인덱스 라벨 0
print()
print(df.loc[0:2])    # 라벨 0~2 (끝 포함!)

id                                                1
category                                         제품
response_text         배송이 빠르고 포장이 꼼꼼했습니다. 매우 만족합니다!
satisfaction_score                                5
timestamp                       2024-01-15 09:30:00
Name: 0, dtype: object

   id category                  response_text  satisfaction_score  \
0   1       제품  배송이 빠르고 포장이 꼼꼼했습니다. 매우 만족합니다!                   5
1   2      서비스  고객센터 응대가 친절했어요. 문의 해결이 빨랐습니다.                   5
2   3       제품        품질이 기대 이하였습니다. 사진과 달라요.                   2

             timestamp
0  2024-01-15 09:30:00
1  2024-01-15 10:15:00
2  2024-01-15 11:00:00

In [14]:
# 특정 행, 열 선택
print(df.loc[0, "response_text"])
print(df.iloc[0, 2])  # 첫 행, 세 번째 열

배송이 빠르고 포장이 꼼꼼했습니다. 매우 만족합니다!
배송이 빠르고 포장이 꼼꼼했습니다. 매우 만족합니다!

### 8.2.3 조건 필터링

In [15]:
# 단일 조건
high_score = df[df["satisfaction_score"] >= 4]
print(f"높은 점수 응답: {len(high_score)}건")
high_score.head()

높은 점수 응답: 32건

,id,category,response_text,satisfaction_score,timestamp
0,1,제품,배송이 빠르고 포장이 꼼꼼했습니다. 매우 만족합니다!,5,2024-01-15 09:30:00
1,2,서비스,고객센터 응대가 친절했어요. 문의 해결이 빨랐습니다.,5,2024-01-15 10:15:00
5,6,제품,가격 대비 품질이 좋습니다. 재구매 의향 있어요.,4,2024-01-15 14:30:00
6,7,제품,색상이 예쁘고 사이즈도 딱 맞아요!,5,2024-01-15 15:00:00
7,8,배송,새벽배송 너무 좋아요. 신선하게 받았습니다.,5,2024-01-15 16:00:00

In [16]:
# 여러 조건 (AND)
condition = (df["category"] == "제품") & (df["satisfaction_score"] >= 4)
filtered = df[condition]
print(f"제품 카테고리 & 고득점: {len(filtered)}건")
filtered.head()

제품 카테고리 & 고득점: 15건

,id,category,response_text,satisfaction_score,timestamp
0,1,제품,배송이 빠르고 포장이 꼼꼼했습니다. 매우 만족합니다!,5,2024-01-15 09:30:00
5,6,제품,가격 대비 품질이 좋습니다. 재구매 의향 있어요.,4,2024-01-15 14:30:00
6,7,제품,색상이 예쁘고 사이즈도 딱 맞아요!,5,2024-01-15 15:00:00
12,13,제품,품질 최고입니다. 주변에 추천하고 싶어요.,5,2024-01-16 10:30:00
16,17,제품,디자인이 세련되고 고급스러워요.,5,2024-01-16 13:00:00

In [17]:
# 여러 조건 (OR)
condition = (df["category"] == "제품") | (df["category"] == "배송")
filtered = df[condition]
print(f"제품 또는 배송: {len(filtered)}건")

제품 또는 배송: 36건

In [18]:
# isin: 여러 값 중 하나
categories = ["제품", "배송"]
filtered = df[df["category"].isin(categories)]
print(f"제품/배송 카테고리: {len(filtered)}건")

제품/배송 카테고리: 36건

In [19]:
# 문자열 포함 여부
contains_delivery = df[df["response_text"].str.contains("배송", na=False)]
print(f"'배송' 포함 응답: {len(contains_delivery)}건")
contains_delivery.head(3)

'배송' 포함 응답: 9건

,id,category,response_text,satisfaction_score,timestamp
0,1,제품,배송이 빠르고 포장이 꼼꼼했습니다. 매우 만족합니다!,5,2024-01-15 09:30:00
3,4,배송,배송 지연이 있었습니다. 예상보다 3일 늦게 도착.,2,2024-01-15 11:45:00
7,8,배송,새벽배송 너무 좋아요. 신선하게 받았습니다.,5,2024-01-15 16:00:00

---
## 8.3 정렬과 집계

### 8.3.1 정렬

In [20]:
# 단일 컬럼 정렬
df.sort_values("satisfaction_score", ascending=False).head()

,id,category,response_text,satisfaction_score,timestamp
0,1,제품,배송이 빠르고 포장이 꼼꼼했습니다. 매우 만족합니다!,5,2024-01-15 09:30:00
12,13,제품,품질 최고입니다. 주변에 추천하고 싶어요.,5,2024-01-16 10:30:00
43,44,제품,아이들이 좋아합니다. 재구매할게요.,5,2024-01-19 10:30:00
42,43,제품,설치가 간편했습니다. 30분이면 끝!,5,2024-01-19 10:00:00
32,33,제품,가성비 최고의 제품입니다.,5,2024-01-18 10:00:00

In [21]:
# 여러 컬럼 정렬
df.sort_values(["category", "satisfaction_score"], ascending=[True, False]).head(10)

,id,category,response_text,satisfaction_score,timestamp
7,8,배송,새벽배송 너무 좋아요. 신선하게 받았습니다.,5,2024-01-15 16:00:00
10,11,배송,택배 기사님이 친절하셨습니다.,5,2024-01-16 09:30:00
18,19,배송,정확한 시간에 배송됐습니다. 완벽해요!,5,2024-01-16 14:00:00
25,26,배송,명절에도 빠른 배송 감사합니다.,5,2024-01-17 11:30:00
22,23,배송,배송 추적이 잘 됩니다. 편리해요.,4,2024-01-17 10:00:00
33,34,배송,안전하게 잘 도착했습니다.,4,2024-01-18 10:30:00
44,45,배송,토요일에도 배송되어서 좋았어요.,4,2024-01-19 11:00:00
47,48,배송,경비실에 맡겨주셔서 편했습니다.,4,2024-01-19 13:00:00
29,30,배송,부분 배송이 되어서 불편했어요.,3,2024-01-17 14:00:00
37,38,배송,우체국 택배라서 조금 느렸어요.,3,2024-01-18 13:00:00

### 8.3.2 value_counts()

In [22]:
# 카테고리별 개수
print(df["category"].value_counts())

category
제품     23
서비스    14
배송     13
Name: count, dtype: int64

In [23]:
# 점수별 개수
print(df["satisfaction_score"].value_counts().sort_index())

satisfaction_score
2     8
3    10
4    17
5    15
Name: count, dtype: int64

In [24]:
# 비율로 표시
print(df["category"].value_counts(normalize=True))

category
제품     0.46
서비스    0.28
배송     0.26
Name: proportion, dtype: float64

### 8.3.3 groupby와 집계

In [25]:
# 카테고리별 평균 점수
df.groupby("category")["satisfaction_score"].mean()

category
배송     3.769231
서비스    3.571429
제품     3.913043
Name: satisfaction_score, dtype: float64

In [26]:
# 여러 집계 함수
df.groupby("category")["satisfaction_score"].agg(["count", "mean", "min", "max"])

          count      mean  min  max
category
배송           13  3.769231    2    5
서비스          14  3.571429    2    5
제품           23  3.913043    2    5

In [27]:
# 사용자 정의 집계
df.groupby("category")["satisfaction_score"].agg(
    count="count",
    avg="mean",
    positive_ratio=lambda x: (x >= 4).sum() / len(x)
).round(2)

          count   avg  positive_ratio
category
배송           13  3.77            0.62
서비스          14  3.57            0.64
제품           23  3.91            0.65

In [28]:
# 여러 컬럼 집계
df.groupby("category").agg({
    "id": "count",
    "satisfaction_score": ["mean", "std"]
}).round(2)

            id satisfaction_score
         count               mean   std
category
배송          13               3.77  1.09
서비스         14               3.57  1.16
제품          23               3.91  1.00

---
## 8.4 결측치 처리

In [29]:
# 결측치 확인
print(df.isna().sum())

id                    0
category              0
response_text         0
satisfaction_score    0
timestamp             0
dtype: int64

In [30]:
# 결측치가 있는 행 확인
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [id, category, response_text, satisfaction_score, timestamp]
Index: []

In [31]:
# 결측치 채우기 예시
# df["column"] = df["column"].fillna("기본값")
# df["score"] = df["score"].fillna(df["score"].mean())

# 결측치 제거 예시
# df_clean = df.dropna()

---
## 8.5 실습: 보고서용 요약표 만들기

### 요약표 1: 카테고리별 종합 통계

In [32]:
def create_category_summary(df):
    """카테고리별 종합 통계 테이블 생성"""
    summary = df.groupby("category").agg(
        응답수=("id", "count"),
        평균점수=("satisfaction_score", "mean"),
        최소점수=("satisfaction_score", "min"),
        최대점수=("satisfaction_score", "max"),
        긍정비율=("satisfaction_score", lambda x: (x >= 4).sum() / len(x) * 100)
    ).round(2)
    
    # 전체 합계 행 추가
    total = pd.DataFrame({
        "응답수": [df.shape[0]],
        "평균점수": [df["satisfaction_score"].mean().round(2)],
        "최소점수": [df["satisfaction_score"].min()],
        "최대점수": [df["satisfaction_score"].max()],
        "긍정비율": [(df["satisfaction_score"] >= 4).sum() / len(df) * 100]
    }, index=["전체"])
    
    return pd.concat([summary, total])

In [33]:
summary_table1 = create_category_summary(df)
print("=== 카테고리별 종합 통계 ===")
print(summary_table1)

=== 카테고리별 종합 통계 ===
     응답수  평균점수  최소점수  최대점수   긍정비율
배송    13  3.77     2     5  61.54
서비스   14  3.57     2     5  64.29
제품    23  3.91     2     5  65.22
전체    50  3.78     2     5  64.00

### 요약표 2: 점수 분포

In [34]:
def create_score_distribution(df):
    """점수별 분포 테이블 생성"""
    score_counts = df["satisfaction_score"].value_counts().sort_index()
    score_pct = (score_counts / len(df) * 100).round(1)
    
    distribution = pd.DataFrame({
        "응답수": score_counts,
        "비율(%)": score_pct
    })
    
    # 누적 비율 추가
    distribution["누적(%)"] = distribution["비율(%)"].cumsum()
    
    return distribution

In [35]:
summary_table2 = create_score_distribution(df)
print("=== 점수 분포 ===")
print(summary_table2)

=== 점수 분포 ===
                    응답수  비율(%)  누적(%)
satisfaction_score
2                     8   16.0   16.0
3                    10   20.0   36.0
4                    17   34.0   70.0
5                    15   30.0  100.0

### 요약표를 딕셔너리/JSON으로 변환

In [36]:
def tables_to_dict(table1, table2):
    """요약표들을 딕셔너리로 변환"""
    return {
        "category_stats": table1.reset_index().to_dict(orient="records"),
        "score_distribution": table2.reset_index().rename(
            columns={"index": "score"}
        ).to_dict(orient="records")
    }

In [37]:
summary_dict = tables_to_dict(summary_table1, summary_table2)

# JSON 저장
import json
with open("data/pandas_summary.json", "w", encoding="utf-8") as f:
    json.dump(summary_dict, f, ensure_ascii=False, indent=2)

print("요약 데이터 저장 완료: data/pandas_summary.json")

요약 데이터 저장 완료: data/pandas_summary.json

### 추가: 키워드 빈도 분석

In [38]:
from collections import Counter

def analyze_keywords(df, text_column="response_text", top_n=10):
    """텍스트에서 키워드 빈도 분석"""
    all_text = " ".join(df[text_column].astype(str))
    
    # 간단한 토큰화 (공백 기준)
    words = all_text.split()
    
    # 불용어 제거 (2글자 이상만)
    words = [w for w in words if len(w) >= 2]
    
    # 빈도 계산
    word_counts = Counter(words)
    
    # DataFrame으로 변환
    top_words = pd.DataFrame(
        word_counts.most_common(top_n),
        columns=["키워드", "빈도"]
    )
    
    return top_words

In [39]:
keywords_df = analyze_keywords(df)
print("=== 상위 키워드 ===")
print(keywords_df)

=== 상위 키워드 ===
     키워드  빈도
0   좋아요.   4
1    포장이   3
2     배송   3
3    사용이   3
4     조금   3
5    배송이   2
6     문의   2
7    품질이   2
8     가격   2
9  좋습니다.   2

---
## 8.6 새 컬럼 추가와 데이터 변환

In [40]:
# 새 컬럼 추가
df["sentiment"] = df["satisfaction_score"].apply(
    lambda x: "긍정" if x >= 4 else ("부정" if x <= 2 else "중립")
)

In [41]:
# 확인
print(df["sentiment"].value_counts())

sentiment
긍정    32
중립    10
부정     8
Name: count, dtype: int64

In [42]:
# apply로 복잡한 변환
def categorize_response(row):
    """응답을 종합 분류"""
    score = row["satisfaction_score"]
    category = row["category"]
    
    if score >= 4:
        return f"{category}_긍정"
    elif score <= 2:
        return f"{category}_부정"
    else:
        return f"{category}_중립"

df["detailed_label"] = df.apply(categorize_response, axis=1)
print(df["detailed_label"].value_counts())

detailed_label
제품_긍정     15
서비스_긍정     9
배송_긍정      8
제품_중립      6
서비스_부정     4
배송_중립      3
제품_부정      2
배송_부정      2
서비스_중립     1
Name: count, dtype: int64

---
## 연습문제

### 문제 1: 필터링
점수가 3점 이하인 부정적 응답만 필터링하고, 카테고리별 개수를 구하세요.

In [43]:
# 여기에 코드 작성

### 문제 2: 시간대별 분석
timestamp 컬럼에서 날짜만 추출하여 일별 응답 수를 계산하세요.

In [44]:
# 힌트: pd.to_datetime(), .dt.date
# 여기에 코드 작성

### 문제 3: 크로스탭
카테고리와 sentiment 간의 교차표(crosstab)를 만드세요.

In [45]:
# 힌트: pd.crosstab()
# 여기에 코드 작성

### 문제 4: 긍정 응답 텍스트 추출
점수 5점인 응답의 텍스트만 리스트로 추출하세요.

In [46]:
# 여기에 코드 작성

### 정리

In [47]:
# 생성한 컬럼 제거 (다음 모듈에서 원본 데이터 사용)
df = df.drop(columns=["sentiment", "detailed_label"])
print("원본 컬럼으로 복원 완료")

원본 컬럼으로 복원 완료